---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import Layout from "../layouts/Layout.astro";
import {title} from '../API/defaultSiteValues';

const desc = "If you have any query regrading Site, Advertisement and any other issue, please feel free to contact"
---

<Layout title={"Contact us - "+title} desc={desc} index={true}>
    <Header title={title}/>
    <ContentLayout>
        <div class="bg-white px-2 py-2 mb-2">
            <h2>Contact</h2>
            <!-- wp:paragraph -->
            <p>If you have any query regrading Site, Advertisement and any other issue, please feel free to contact at <strong><a href="mailto:eliteanswers.in@gmail.com">eliteanswers.in@gmail.com</a></strong></p>
            <!-- /wp:paragraph -->
        </div>
    </ContentLayout>
    <Footer title={title}/>
</Layout>