---
import { filterCrew, findCountry, findLang, formatDate, joinGenres, movieCredits, productionCompanies, supportRoles } from "../API/helpers";
import { movieFAQs } from "../data/movie-faqs.json";
import FAQ from "./FAQ.astro";
import Genres from '../API/helpers.astro'
import PostUpdateTime from "./PostUpdateTime.astro";
import { movieAssets } from "../API/movieAssets";

const {movie, movie_id} = Astro.props;
const credit = await movieCredits(movie_id);
const movieGenres = joinGenres(movie.genres);
const p_companies = productionCompanies(movie.production_companies);
const [hero, heroine] = credit.cast.filter(member => member.order == 0 || 1);
const supportChars = supportRoles(credit.cast);

const crew = credit.crew;
const directorNames = filterCrew(crew, "Director");
const writerNames = filterCrew(crew, "Lyricist");
const producerNames = filterCrew(crew, "Producer");
const editorNames = filterCrew(crew, "Editor");
const composerNames = filterCrew(crew, "Original Music Composer");
const cinematographerNames = filterCrew(crew, "Director of Photography")
const screenplayNames = filterCrew(crew, "Screenplay");

const imgURL = "/images/w300";
const [images, videos] = await movieAssets(movie_id);
---

<article>
  <h1>{movie.title} movie latest review</h1>
  <PostUpdateTime/>

  <p>{movie.title} is a very exciting movie. It has {movieGenres}. The director of the movie is {directorNames}. The story is written by {writerNames}. {producerNames} are made the movie. The movie came out on {formatDate(movie.release_date)}. If you like movies with genres such as {movieGenres}, you will love this one.</p>

  <h2>{movie.title} plot summury</h2>
  <p>{movie.overview}</p>

  <h2>{movie.title} Overview</h2>
  <table class="table table-striped table-hover border">
      <tbody>
          <tr>
            <td class="w-50">Movie Name</td>
            <td><a class="text-decoration-none" href="./">{movie.title}</a></td>
          </tr>
          <tr>
            <td>Release Date</td>
            <td>{formatDate(movie.release_date)}</td>
          </tr>
          <tr>
            <td>Original Language</td>
            <td>{findLang(movie.original_language)}</td>
          </tr>
          <tr>
            <td>Runtime</td>
            <td>{movie.runtime} min</td>
          </tr>
          <tr>
            <td>Country</td>
            <td>{findCountry(movie.origin_country)}</td>
          </tr>
          <tr>
            <td>Genres</td>
            <td><Genres genres={movie.genres}/></td>
          </tr>
          <tr>
            <td>Director</td>
            <td>{directorNames}</td>
          </tr>
          <tr>
            <td>Producers</td>
            <td>{producerNames}</td>
          </tr>
          <tr>
            <td>Writer</td>
            <td>{writerNames}</td>
          </tr>
          <tr>
            <td>Editors</td>
            <td>{editorNames}</td>
          </tr>
          <tr>
            <td>Cinematography</td>
            <td>{cinematographerNames}</td>
          </tr>
          <tr>
            <td>Music</td>
            <td>{composerNames}</td>
          </tr>
          <tr>
            <td>Screenplay</td>
            <td>{screenplayNames}</td>
          </tr>
          <tr>
            <td>Production Companies</td>
            <td>{p_companies}</td>
          </tr>
        </tbody>
  </table>
      
  <h2>Movie Details and Overview</h2>
  <p>The movie is directed by {directorNames}. It is very beautiful to watch. The cameraman, {cinematographerNames}, did a great job. The scenes from the movie such as {movieGenres} look amazing. The music by {composerNames} is very nice. It matches the story and makes the movie even better.</p>

  <h2>Expectations from movie</h2>
  <p>The movie is {movie.runtime} minutes long. It has lots of elements like action, emotions, surprises. If you like genres like {movieGenres} movies, you will enjoy this movie. The story is interesting, and you will want to watch till the end.</p>

  <h2>{movie.title} movie Ratings</h2>
  <p>Right now, {movie.title} has a score of {movie.vote_average} out of 10. This rating comes from {movie.vote_count} people. The movie is still playing in theaters, so the score might change later. Most people like it because it has highlighted strengths like good action or strong story.</p>

  <h2>Cast Details Overview</h2>
  <table class="table table-striped table-hover border">
    <thead>
      <tr>
        <th class="w-50">Name</th>
        <th class="w-50">Role</th>
      </tr>
    </thead>
    <tbody>
      {credit.cast.map(p => (
        <tr>
          <td><a class="text-decoration-none" href={"/cast/"+p.id+"/"}>{p.name}</a></td>
          <td>{p.character || "N/A"}</td>
        </tr>

      ))}
    </tbody>
  </table>

  <h2>Crew Details Overview</h2>
  <table class="table table-striped table-hover border">
    <thead>
      <tr>
        <th class="w-50">Name</th>
        <th class="w-50">Role</th>
      </tr>
    </thead>
    <tbody>
      {credit.crew.map(p => (
        <tr>
          <td><a class="text-decoration-none" href={"/crew/"+p.id+"/"}>{p.name}</a></td>
          <td>{p.job}</td>
        </tr>
      ))}
    </tbody>
  </table>

  <h2>Overall Review</h2>
  <p>{movie.title} is a great movie for people who like {movieGenres}. {hero?.name || "N/A"} and {heroine?.name || "N/A"} are acted very well as {hero?.character || "N/A"} and {heroine?.character || "N/A"}. {supportChars}, and other actors also do a very good job. The movie has amazing songs, scenes, and a strong story. The camera work and music make the movie even better. This is a movie you should watch if you like {movieGenres}.</p>

  <h2>Frequently Asked Questions</h2>
  <FAQ qas={movieFAQs({
    genres: movie.genres.map(genre => genre?.name),
    director: directorNames,
    releaseDate: formatDate(movie?.release_date),
    runtime: movie.runtime+" min",
    title: movie?.title,
    writer: writerNames
  })} />

</article>