---
import CardWrapper from '../../components/CardWrapper.astro'
import Footer from '../../components/Footer.astro'
import Header from '../../components/Header.astro'
import ContentLayout from '../../layouts/ContentLayout.astro'
import Layout from '../../layouts/Layout.astro'
import {moviesList} from '../../API/latestMovies'
import {title} from '../../API/defaultSiteValues';
import {YYYY} from '../../API/time'
const year = YYYY();
const desc = `Get the latest movie reviews ${year}, Telugu, Hindi, Tamil, English Movie Reviews at one place.`;
const movies = await moviesList();
---

<Layout title={"Latest Movies in "+year} desc={desc} index={true}>
    <Header title={title}/>
    <ContentLayout>
        <h2 class="bg-dark text-white p-2 rounded-1">Latest Movies</h2>
        {
            movies.map(movie=><CardWrapper resp={movie.results}/>)
        }
    </ContentLayout>
    <Footer title={title}/>
</Layout>